body {
    font-family: Georgia;
    font-size: 11 pt;
    color: #404040;
    background-image: url('silverware.jpg');
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: top left;
}

h1 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: Lucida Sans;
    font-size: 18pt;
    text-decoration: underline;
    font-weight: normal;
}

ol {
    font-size: 11pt;
}

ul {
    list-style-image: url('pie_icon.gif');
    font-size: 11pt;
  }

a {
    color: #A4A400;
}

pre {
    font-family: Georgia;
    font-size: 11pt;

  }
#user-comments {
    background-color: #FFFFA8;
    font-family: Lucida Sans 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 11pt;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

#main-heading {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: Lucida Sans 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22pt;
    font-weight: bold;
    text-decoration: underline;
    text-align: center
}

#copyright {
    font-family: 'Courier New', Courier, monospace;
    font-size: 11pt;
}









